    <div class='row vrvbackground2'>
      <div class='small-0 medium-0 large-4 xlarge-4 columns' style='padding-left:0; padding-right:2.4em;'>
        <div class='show-for-large' style='margin-top:2.4em;'>
        
        <div class="card anim-scale-in-down">
          <div class="card-divider">
            <h4>Konference Vodní Toky 2019</h4>
          </div>
          <img src="https://konference.vrv.cz/assets/img/sumava_mala.jpg" style='max-height:12em; object-fit: cover; object-position: center;'>
          <div class="card-section">
            <p style='display:inline;'>26. a 27. listopadu 2019<br/>hotel Černigov, Hradec Králové</p>
            <span class='float-right' style='margin-left:auto;font-size:140%;'><a href='#'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></span>
          </div>
        </div>

        <div class="card anim-scale-in-down">
          <div class="card-divider">
            <h4>Zimní Vodohospodářská Třicítka</h4>
          </div>
          <img src="assets/img/ToMa_VP_11_Dlouhe_Strane.jpg" style='max-height:12em; object-fit: cover; object-position: center;'>
          <div class="card-section">
            <p style='display:inline;'>Již tradičně se VRV účastnilo Zimní vodohospodářské třicítky na Rejvízu v Hrubém Jeseníku, letos s vynikajícími výsledky.</p>
            <span class='float-right' style='margin-left:auto;font-size:140%;'><a href='#'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></span>
          </div>
        </div>

        <div class="card anim-scale-in-down">
          <div class="card-divider">
            <h4>Zimní Vodohospodářská Třicítka</h4>
          </div>
          <img src="assets/img/ToMa_VP_11_Dlouhe_Strane.jpg" style='max-height:12em; object-fit: cover; object-position: center;'>
          <div class="card-section">
            <p style='display:inline;'>Již tradičně se VRV účastnilo Zimní vodohospodářské třicítky na Rejvízu v Hrubém Jeseníku, letos s vynikajícími výsledky.</p>
            <span class='float-right' style='margin-left:auto;font-size:140%;'><a href='#'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></span>
          </div>
        </div>

        <div class="card anim-scale-in-down">
          <div class="card-divider">
            <h4>Zimní Vodohospodářská Třicítka</h4>
          </div>
          <img src="assets/img/ToMa_VP_11_Dlouhe_Strane.jpg" style='max-height:12em; object-fit: cover; object-position: center;'>
          <div class="card-section">
            <p style='display:inline;'>Již tradičně se VRV účastnilo Zimní vodohospodářské třicítky na Rejvízu v Hrubém Jeseníku, letos s vynikajícími výsledky.</p>
            <span class='float-right' style='margin-left:auto;font-size:140%;'><a href='#'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></span>
          </div>
        </div>

        <div class="card anim-scale-in-down">
          <div class="card-divider">
            <h4 style='margin-bottom:0;'>Další novinky</h4>
            <p style='margin-left:auto;font-size:140%;'><a href='#'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></p>
          </div>
        </div>
        
        
        </div>
      </div>  
      <div class='small-12 medium-12 large-8 xlarge-8 columns anim-scale-in-down maincontent'>
        <p style='font-size:1.42rem;'>O společnosti > Úvod</p>
        <h1 style='font-size:200%; line-height:1.0; color:#ffae00; margin-bottom:1.3rem;'>Vodohospodářský rozvoj a&nbsp;výstavba a.s.</h1>
        <p>
        <b>Vodohospodářský rozvoj a výstavba a.s. (dále jen VRV a.s.)</b> je zcela nezávislou soukromou společností, plně vlastněnou českými akcionáři - fyzickými osobami. Nemá návaznost na žádnou výrobní, dodavatelskou ani provozní firmu a hájí výhradně zájmy svých zákazníků.
        </p>
        <p>
        <img src='assets/img/DJI_0309.jpg'>
        </p>
        <p>
        <b>Služby</b> poskytované naší společností jsou komplexní a jsou schopny pokrýt veškeré požadavky zákazníka. Sahají od primárního inženýringu zahrnujícího identifikaci řešených problémů, přes zpracování studií, finanční, ekonomické a socioekonomické analýzy, projekty financování, veřejnoprávní projednání staveb.
        <p>
        Dále zahrnují zajištění tendrových dokumentů, odborné poradenství při zadávacím a koncesním řízení včetně sjednání smluv a plnění role inženýra v průběhu procesu realizace, technický dozor investora, související geodetické práce a zajištění funkce koordinátora BOZP až po konečné vyhodnocení a vypořádání všech povinností stavebníka. VRV a.s. má také rozsáhlé zkušenosti se zajištěním funkce správce stavby, manažera stavby nebo supervizí, dále s předkládáním žádostí o podporu projektů financovaných z fondů EU i národních programů.
        <p>
        Zajišťujeme rovněž výběr provozovatele vodohospodářské infrastruktury, úpravu stávajících provozních smluv a vyplnění finančního modelu včetně projednávání.
        <p>
        <b>Projektová činnost</b> zahrnuje celou šíři odborných projektových prací od studií až po prováděcí projekty a autorský dozor. Zabýváme se modelováním vodohospodářských problémů, plánováním v oblasti vod, zpracováním digitálních povodňových plánů a. komplexních pozemkových úprav.
        <p>
        Dále poskytujeme konzultační služby v široké škále nejen oboru vodního hospodářství, nabízíme samostatné geodetické a právní služby, zajišťujeme technickobezpečnostní dohled nad vodními díly III. a IV. kategorie.
        <p>
        V naší společnosti pracuje přibližně 110 kmenových zaměstnanců, z toho 75% vysokoškolsky vzdělaných v oboru stavebním, strojním, elektrotechnickém, ekonomickém, ekologickém, právním a zeměměřičském. Významná část zaměstnanců disponuje osvědčením České komory autorizovaných inženýrů a techniků, případně dalším oborovým oprávněním (oprávnění pro ověřování výsledků zeměměřičských činností, oprávnění k projektování pozemkových úprav). VRV a. s. se dále může opřít i o široký okruh externích spolupracovníků v celé řadě dalších oblastí.
        <p>
        <b>VRV a.s.</b> je jedním ze zakládajících členů <b>Svazu vodního hospodářství ČR</b>, aktivním členem <b>České asociace konzultačních inženýrů</b>, dále členem <b>SOVAK</b>, <b>České vědeckotechnické vodohospodářské společnosti</b>, <b>Asociace čistírenských expertů</b> a <b>Českého přehradního výboru</b>.
        </p>
        <p>
        <img src='assets/img/varianta2_small.jpg'>
        </p>
      </div>
    </div>
