<div id="engadget-footer-sitemap-container" class='show-for-medium'>
  <footer id="engadget-footer-sitemap">
    <div class="links">
      <div class="link-column">
          <h5>O společnosti</h5>
        <ul class="menu vertical">
                <li><a href="#">Úvod</a></li>
                <li><a href="#">Aktuality</a></li>
                <li><a href="#">Struktura společnosti</a></li>
                <li><a href="#">Historie společnosti</a></li>
                <li><a href="#">Certifikáty a ocenění</a></li>
                <li><a href="#">Pro akcionáře</a></li>
                <li><a href="#">Logo ke stažení</a></li>
                <li><a href="#">Kariéra</a></li>
        </ul>
      </div>
      <div class="link-column">
          <h5>Služby</h5>
        <ul class="menu vertical">

                    <li><a href="#">Projektový management</a></li>
                    <li><a href="#">Technický dozor stavebníka, správce stavby</a></li>
                    <li><a href="#">Dotace, finanční analýzy</a></li>
                    <li><a href="#">Specializované i komplexní studie, GIS analýzy</a></li>
                    <li><a href="#">Opatření proti suchu</a></li>
                    <li><a href="#">Plánování v oblasti vod</a></li>
                    <li><a href="#">Koncesní řízení - provozování</a></li>
                    <li><a href="#">Zásobování vodou</a></li>
                    <li><a href="#">Kanalizace a ČOV</a></li>
                    <li><a href="#">Vodní toky a nádrže</a></li>
                    <li><a href="#">Protipovodňová opatření, digitální povodňové plány</a></li>
                    <li><a href="#">Komplexní pozemkové úpravy</a></li>
                    <li><a href="#">Konference, semináře</a></li>
                    <li><a href="#">Věda a výzkum</a></li>
        </ul>
      </div>
       <div class="link-column">
          <h5>Reference</h5>
        <ul class="menu vertical">
                    <li><a href="#">Prestižní zakázky</a></li>
                    <li><a href="#">Projektový management</a></li>
                    <li><a href="#">Technický dozor stavebníka, správce stavby</a></li>
                    <li><a href="#">Dotace, finanční analýzy</a></li>
                    <li><a href="#">Specializované i komplexní studie, GIS analýzy</a></li>
                    <li><a href="#">Opatření proti suchu</a></li>
                    <li><a href="#">Plánování v oblasti vod</a></li>
                    <li><a href="#">Koncesní řízení - provozování</a></li>
                    <li><a href="#">Zásobování vodou</a></li>
                    <li><a href="#">Kanalizace a ČOV</a></li>
                    <li><a href="#">Vodní toky a nádrže</a></li>
                    <li><a href="#">Protipovodňová opatření, digitální povodňové plány</a></li>
                    <li><a href="#">Komplexní pozemkové úpravy</a></li>
                    <li><a href="#">Konference, semináře</a></li>
                    <li><a href="#">Věda a výzkum</a></li>
        </ul>
      </div>
      <div class="link-column">
          <h5>Kontakty</h5>
        <ul class="menu vertical">
                <li><a href="#">Sídlo firmy</a></li>
                <li><a href="#">Divize 01 Praha</a></li>
                <li><a href="#">Divize 02 Praha</a></li>
                <li><a href="#">Divize 03 Praha</a></li>
                <li><a href="#">Divize 04 Bratislava</a></li>
                <li><a href="#">Divize 05 Brno</a></li>
                <li><a href="#">Kde nás najdete</a></li>
                <li><a href="#">Bankovní spojení</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
       <!---
 <div id="engadget-footer-social-container">
    <footer id="engadget-footer-social">
        <div class="footer-left">
            <div class="newsletter">
                <h6>Připojit se k odebírání newsletteru</h6>
                <div class="input-group">

                    <input class="input-group-field" type="email" placeholder="E-mailová addresa">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Potvrdit">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-right">
            
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        </div>
    </footer>
</div>
    --->
<div id="engadget-footer-contact-details-container">
    <footer id="engadget-footer-contact-details">
        <div class="footer-left">
            <div class="contact-details" style='margin-top:1.1em;'>
                <ul>
                    <li><img src="https://konference.vrv.cz/assets/img/logo_102x61.svg" style='height:1.4em;'></li>
                    <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i>  +420 257 110 111</li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i> vrv@vrv.cz</a></li>
                    <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Nábřežní 4, 150 56 Praha 5 - Smíchov, Czech Republic</li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <ul class="menu align-right">
        <div style='margin-right:2em;'>
                 <img src='assets/img/cert/ohms_logo.svg' style='height:4.5em; margin-top:-0.09em;' alt='OHMS certifikace' />
                 <img src='assets/img/cert/qms_logo.svg' style='height:4.5em; margin-top:-0.09em;' alt='QMS certifikace' />
                 <img src='assets/img/cert/ems_logo.svg' style='height:4.5em; margin-top:-0.09em;' alt='EMS certifikace' />

        </div>
        <div style='margin-top:1.1em;'>
                 <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                 <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                 <i class="fa fa-envelope fa-2x" aria-hidden="true" style='font-size:2.2em; margin-top:-0.09em;'></i>
        </div>
            </ul>
        </div>
    </footer>
</div>