<div id='top-bar' class="top-bar"> 
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <img id='logo' src="https://konference.vrv.cz/assets/img/logo_102x61.svg" alt="logo Vodohospodářský rozvoj a výstavba a.s." />
        <div id='nazevfirmy' class='big' style='position:absolute; left:8.8rem; top:1.0rem; font-size:102%; text-align:left; color:#000000; font-weight:normal;'>Vodohospodářský rozvoj a&nbsp;výstavba a.s.</div>
      </li>
      <li class="mega-menu">
        <a data-toggle="mega-menu-spolecnost" href="#" class='anim-hinge'>O společnosti</a>

        <div class="dropdown-pane bottom" id="mega-menu-spolecnost" data-dropdown data-options="closeOnClick:true; hoverDelay:200; hover: true; hoverPane: true; vOffset:4">

          <div class="row expanded">
            <div class="small-12 medium-6 columns">
              <ul class="menu vertical">
                <li><a href="#">Úvod</a></li>
                <li><a href="#">Aktuality</a></li>
                <li><a href="#">Struktura společnosti</a></li>
                <li><a href="#">Historie společnosti</a></li>
                <li><a href="#">Certifikáty a ocenění</a></li>
                <li><a href="#">Pro akcionáře</a></li>
                <li><a href="#">Logo ke stažení</a></li>
                <li><a href="#">Kariéra</a></li>
              </ul>
            </div>
          </div>

        </div>
      </li>
      
      <li class="mega-menu">
        <a data-toggle="mega-menu-sluzby" href="#" class='anim-hinge'>Služby</a>
        <div class="dropdown-pane bottom" id="mega-menu-sluzby" data-dropdown data-options="closeOnClick:true; hoverDelay:200; hover: true; hoverPane: true; vOffset:4">

          <div class="row expanded">
            <div class="small-12 medium-6 columns">
              <ul class="menu vertical">
                <li style='padding-top:0.4em;'><a href="#"><b>Investiční výstavba</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Projektový management</a></li>
                    <li><a href="#">Příprava staveb, inženýring</a></li>
                    <li><a href="#">Technický dozor stavebníka, správce stavby</a></li>
                    <li><a href="#">Dotace, finanční analýzy</a></li>
                    <li><a href="#">Koordinátor BOZP</a></li>
                    <li><a href="#">Právní, majetkoprávní služby</a></li>
                  </ul>
                <li style='padding-top:0.4em;'><a href="#"><b>Vodní hospodářství a ochrana ŽP</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Specializované i komplexní studie, GIS analýzy</a></li>
                    <li><a href="#">Opatření proti suchu</a></li>
                    <li><a href="#">Plánování v oblasti vod</a></li>
                    <li><a href="#">Matematické modelování</a></li>
                    <li><a href="#">Koncesní řízení - provozování</a></li>
                    <li><a href="#">TBD nad vodními díly</a></li>
                    <li><a href="#">Legislativa a státní správa</a></li>
                  </ul>
              </ul>
            </div>
            <div class="small-12 medium-6 column">
              <ul class="menu vertical">
                <li style='padding-top:0.4em;'><a href="#"><b>Projektování</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Zásobování vodou</a></li>
                    <li><a href="#">Kanalizace a ČOV</a></li>
                    <li><a href="#">Vodní toky a nádrže</a></li>
                    <li><a href="#">Protipovodňová opatření, digitální povodňové plány</a></li>
                    <li><a href="#">Komplexní pozemkové úpravy</a></li>
                  </ul>
                <li style='padding-top:0.4em;'><a href="#"><b>Další služby</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Konference, semináře</a></li>
                    <li><a href="#">Věda a výzkum</a></li>
                  </ul>
              </ul>
            </div>
          </div>

        </div>
      </li>

      <li class="mega-menu">
        <a data-toggle="mega-menu-reference" href="#" class='anim-hinge'>Reference</a>
        <div class="dropdown-pane bottom" id="mega-menu-reference" data-dropdown data-options="closeOnClick:true; hoverDelay:200; hover: true; hoverPane: true; vOffset:4">

          <div class="row expanded">
            <div class="small-12 medium-6 columns">
              <ul class="menu vertical">
                <li style='padding-top:0.4em;'><a href="#"><b>Prestižní zakázky</b></a></li>
                <li style='padding-top:0.4em;'><a href="#"><b>Investiční výstavba</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Projektový management</a></li>
                    <li><a href="#">Inženýring</a></li>
                    <li><a href="#">Správce stavby, TDI</a></li>
                    <li><a href="#">Výběrová řízení</a></li>
                    <li><a href="#">Dotace, finanční analýzy</a></li>
                    <li><a href="#">Koordinátor BOZP</a></li>
                    <li><a href="#">Právní, majetkoprávní služby</a></li>
                  </ul>
                <li style='padding-top:0.4em;'><a href="#"><b>Vodní hospodářství a ochrana ŽP</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Poradenství a konzultace</a></li>
                    <li><a href="#">Koncesní řízení - provozování</a></li>
                    <li><a href="#">TBD nad vodními díly</a></li>
                    <li><a href="#">Legislativa a státní správa</a></li>
                  </ul>
              </ul>
            </div>
            <div class="small-12 medium-6 column">
              <ul class="menu vertical">
                <li style='padding-top:0.4em;'><a href="#"><b>Projektování</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Zásobování vodou</a></li>
                    <li><a href="#">Kanalizace a ČOV</a></li>
                    <li><a href="#">Vodní toky a nádrže</a></li>
                    <li><a href="#">Plánování v oblasti vod</a></li>
                    <li><a href="#">Matematické modelování</a></li>
                    <li><a href="#">Komplexní pozemkové úpravy</a></li>
                    <li><a href="#">Digitální povodňové plány</a></li>
                  </ul>
                <li style='padding-top:0.4em;'><a href="#"><b>Další služby</b></a></li>
                  <ul class="menu vertical" style='padding-left:0.2em; font-size:95%;'>
                    <li><a href="#">Geodetické služby</a></li>
                    <li><a href="#">ISO, registry legislativy</a></li>
                    <li><a href="#">Konference, semináře</a></li>
                  </ul>
              </ul>
            </div>
          </div>

        </div>
      </li>

      <li class="mega-menu">
        <a data-toggle="mega-menu-kontakty" href="#" class='anim-hinge'>Kontakty</a>
        <div class="dropdown-pane bottom" id="mega-menu-kontakty" data-dropdown data-options="closeOnClick:true; hoverDelay:200; hover: true; hoverPane: true; vOffset:4">

          <div class="row expanded">
            <div class="small-12 medium-6 columns">
              <ul class="menu vertical">
                <li><a href="#">Sídlo firmy</a></li>
                <li><a href="#">Divize 01 Praha</a></li>
                <li><a href="#">Divize 02 Praha</a></li>
                <li><a href="#">Divize 03 Praha</a></li>
                <li><a href="#">Divize 04 Bratislava</a></li>
                <li><a href="#">Divize 05 Brno</a></li>
                <li><a href="#">Kde nás najdete</a></li>
                <li><a href="#">Bankovní spojení</a></li>
              </ul>
            </div>
          </div>

        </div>
      </li>

      <li class='mega-menu' style='display:block; margin-left:auto; padding:0.65em; margin-right:0; font-weight:normal;'>
        <!---
        <input class='anim-hinge' style='min-width:10em; margin-right:0;' type="search" placeholder="Hledat ...">
        <img class='anim-hinge' src="assets/img/gb_flag.png" style='max-height:2.1em;' alt="Change language - English version" />
        --->
        <div id='right-menu'>
          <a href='#' style='padding:0; padding-right:0.6em; display:inline-block; font-weight:bold;'>EN</a>
          <a href='#' id='searchbut'><i class="fa fa-search" aria-hidden="true"></i></a>
          <input type="search" id='search' name="search" placeholder="Hledej">
          <button id='responsive-button' style='color:black; cursor: pointer; padding:0.35em 0 0 1.2em;' class='menuicon text-shadow float-right' type="button" data-toggle><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>  
        
      </li>

    </ul>
  </div>
</div>

<div id='responsive-menu' class="row" style='margin-bottom:0.5em; display:none;'>
  <div class="large-12 columns">
    <ul class="vertical dropdown menu hide-for-large" data-dropdown-menu data-close-on-click-inside='true' style='margin-top:0.4em; margin-bottom:0.4em;'>
      <li role="menuitem"><a href="#">O Společnosti</a></li>
      {{#ifpage 'detail'}}
      <ul class='sub'>
                <li><a href="#"><strong>Úvod</strong></a></li>
                <li><a href="#">Aktuality</a></li>
                <li><a href="#">Struktura společnosti</a></li>
                <li><a href="#">Historie společnosti</a></li>
                <li><a href="#">Certifikáty a ocenění</a></li>
                <li><a href="#">Pro akcionáře</a></li>
                <li><a href="#">Logo ke stažení</a></li>
                <li><a href="#">Kariéra</a></li>
      </ul>  
      {{/ifpage}}
      <li role="menuitem"><a href="#">Služby</a></li>
      <li role="menuitem"><a href="#">Reference</a></li>
      <li role="menuitem"><a href="#">Kontakty</a></li>
              <ul class='sub' style='display:none;'>
                <li><a href="#">Sídlo firmy</a></li>
                <li><a href="#">Divize 01 Praha</a></li>
                <li><a href="#">Divize 02 Praha</a></li>
                <li><a href="#">Divize 03 Praha</a></li>
                <li><a href="#">Divize 04 Bratislava</a></li>
                <li><a href="#">Divize 05 Brno</a></li>
                <li><a href="#">Kde nás najdete</a></li>
                <li><a href="#">Bankovní spojení</a></li>
              </ul>
    </ul>
  </div>
</div> 

